{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Patient Dashboard</h2>
    <p>Welcome, {{ user.username }}!</p>

    {% if assigned_therapist %}
        <p>Your assigned therapist: {{ assigned_therapist.user.get_full_name }} ({{ assigned_therapist.specializations.all|join:", " }})</p>
    {% else %}
        <p>You have not been assigned a therapist yet.</p>
    {% endif %}

    <ul>
        <li><a href="{% url 'book_appointment' %}">Book or view  Appointment</a></li>
        <li><a href="{% url 'change_therapist' %}">Change Therapist</a></li>
       
    </ul>  

    <h3>Notifications</h3>
    <ul>
       {% for notification in notifications %}
       <li>
           {{ notification.message }}
           <small>({{ notification.created_at }})</small>
           <a href="{% url 'mark_notification_as_read' notification.id %}" class="btn btn-sm btn-success mb-3">Mark as Read</a>
        </li>
        {% empty %}
        <li>No new notifications.</li>
        {% endfor %}
    </ul> 
  
</div>
{% endblock %}
