{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Therapist Dashboard</h2>
    <p>Welcome, {{ user.username}}! Manage appointments and view patient records.</p>
    
    <h3>Notifications</h3>
    <ul>
      {% for notification in notifications %}
        <li>
          {{ notification.message }}
          <small>({{ notification.created_at }})</small>
          <a href="{% url 'mark_notification_as_read' notification.id %}" class="btn btn-sm btn-success mb-3"
           aria-label="Mark notification as read">Mark as Read</a>
        </li>
      {% empty %}
           <li>No new notifications.</li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="{% url 'appointment_list' %}">View Your Appointments</a></li>
      <li><a href="{% url 'manage_availability' %}">Set Availability</a></li>

      {% for appointment in appointments %}
        <li>
           Appointment on {{ appointment.date|date:"M d, Y" }} with {{ appointment.patient.username }}
           (Status: {{ appointment.status }})
        </li>
      {% empty %}
            <p>No appointments found.</p>
      {% endfor %}
    </ul>
</div>      
{% endblock %}